<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>showBD</title>
</head>

<body>

<button><a href="workWithBD"> back </a> </button></br></br></br>

<!-- ?????????? ??? ?????? th (?????) ????????? (List) person -->
<div th:if="${persons.isEmpty()} == true"> ?? ????? </div>

    <div th:each="person : ${persons}">
        <div class="elProducts">
            <div>Id:<b th:text="${person.getId()}"></b></div>
            <div>Name:<b th:text="${person.getName()}"></b></div>
            <div>Email:<b th:text="${person.getEmail()}"></b></div>
        </div>

    </div>
</div>


</body>

</html>